body{
  background-color: #FFF;
}
img{
  border-width: 0;
}
img#arrow,img#arrowImg{
  width: 147px;
  height: 82px;
}
#button1,#button2{
  width: 113px;
  height: 33px;
}
.centered{
  text-align: center;
}
#adBanner{
  width: 400px;
  height: 75px;
}
